/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    background-color: #f6f8f9;
    font-family: arial;
}

/* Header */
header{
    background-color: #ffffff;
    padding: 1px;
}

.title img, .title h1{
    display: inline-block;
    vertical-align: middle;
}

.title{
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

/* Main */
main{
    padding: 1px;
    margin-left: 30%;
    margin-top: 10px;
    width: 100px;
    height: 100px;
    display: inline-block;
    width: 70%;
    height: 100px;
}

.container{
    margin-top: 50px;
    background-color: #ffffff;
   
}

.menu a{
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 5px;
}

#add-task{
    background-color: #47adf1;
}

#add-section{
    background-color: #ffffff;
}

/* Section 1 */
li{
    list-style-type: none;
}

